# 忽略所有日志文件  
*.log  

*.pdf
*.xlsx
*.xls
*.docx
*.doc
*.db
.env

# 忽略目标目录  
target/  
tmp/
venv/
dist/
build/

# 忽略Python编译文件  
*.pyc  
  
# 忽略PyCharm项目文件  
.idea/

# 忽略VSCode工作区目录
.vscode/

# 忽略VSCode工作区文件
*.code-workspace

# 忽略Excel临时文件
~$*
*~
*.xlk
*.bak
*.tmp
*.xlsb
*.xlsm.backup

keys.txt
